</main>
<footer 
  class="text-center mt-auto pt-3 mb-3">
  I'm <a href="https://github.com/bradsm1th" title="Link to Brad's GitHub">Brad</a>. You're you. We're <strong>both</strong> incredible.
</footer>
</body>

</html>