<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Include Bootstrap 5.3.2 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Font(s) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    rel="stylesheet">
  <title></title>
</head>

<body class="bg-light mx-auto d-flex flex-column">
  <header class="px-2 py-2 sticky-top">

    <nav class="d-flex justify-content-start">
      <a href="/"><span class="lead">
          <%= (user) ? "❞" : "" %>
        </span></a>
      <% if (user) { %>
        <a href="/quotes/new">Add a quote</a>
        <a href="/quotes">Your quotes</a>
        <a href="/quotes/all">Everyone's quotes</a>
        <!-- Change route/text depending on log-in status -->
        <a href="/logout" class="ms-auto">Sign out</a>
        <% } else { %>
          <a href="/auth/google" class="ms-auto">Sign in</a>
    </nav>
    <% } %>

  </header>
  <h1 class="text-center my-0">
    <span class="display-2 align-middle">❞</span>
    <em>Talk doesn't cook rice</em>
  </h1>