<%- include('./partials/header')%>

  <!-- show only if authenticated -->
  <% if (user) { %>
    <p class="text-center">You're logged in! <span class="text-white bg-info">(<%= user.email %>)</span></p>
  <% } else { %>
    <p class="text-center"><a href="/auth/google" class="btn btn-primary btn-lg px-4">Sign in</a></p>
    <% } %>
<%- include('./partials/footer')%>