* {
  --main-font: "ubuntu";
  font-family: var(--main-font);
}

body {
  max-width: 1200px;
  height: 100vh;
}

header {
  z-index: 123452;
  background-color: #f8f9fa;
}

nav {
  gap: 1em;
}

nav > a {
  color: #8b9197;
  text-decoration: none;
  letter-spacing: .1em;
  border: 2px solid #f8f9fa;
  /* border-radius: .8em; */
  padding-block: .2em;
  padding-inline: 1em;
  transition: .2s all ease-in-out;
}
nav > a:hover {
  text-decoration: none;
  color: black;
}
nav > a:first-child:hover {
  box-shadow: none;
  border: 2px solid #f8f9fa;
  border: default;
  text-decoration: none;
}
nav > a:last-child:hover {
  transition: .2s all ease-in-out;
  /* background: linear-gradient(135deg, orange, orangered, blue); */
  /* color: white; */
  
  box-shadow: 2px 2px 6px 0px orangered;
}

#theCards > * > div:hover {
  /* background-color: gold; */
  box-shadow: 0em 0em .7em .1em indigo;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.collection-item form {
  margin-top: -5px;
}

.quotesList li {
  display: inline-block;
  border: 2px solid white;
}

.quotesList li:hover {
  /* background-color: black; */
  border: 2px solid blue;
  border-radius: 7px;
}