<%- include('../partials/header') %>

<h2>Add a quote to (y)our book</h2>

<form action="/quotes" method="POST">
  
  <label>What is the quote?
    <textarea name="content" id="" cols="40" rows="2"></textarea>
  </label>
  
  <br />
  
  <label>Who said it?
    <input type="text" name="author">
  </label>
  
  <br />
  
  <button type="submit">Remember this quote</button>
</form>

<%- include('../partials/footer') %>