<%- include('../partials/header') %>

<h2>The quote doc</h2>
<pre> <%= thisQuoteDoc %></pre>
<hr />
<p><small><em>(So i can 1) add email and 2) see if different logins show different quotes)</em></small></p>

<h2>The clicking user</h2>
<pre> <%= user %></pre>


<%- include('../partials/footer') %>